*{
    font-family: Roboto;
}
.content{
    background-color: #ebebeb;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 5px 15px;
    max-width: 750px;
    margin: 20 auto;
}
.info li{
    list-style: none;
    padding: 0px;
    line-height: 28px;
    margin-left: 0;
}
.bio{
    margin-left: 40px;
    margin-bottom: 5px;
    letter-spacing: 6px;
    line-height: 20px;
}
.underline{
    letter-spacing: -2px;
    line-height: 20px;
}
.data{
    max-width: 400px;
    overflow: hidden;
    display: inline-block;
    position: relative;
    top: -25px;
}
img{
    height: 330px;
    width: 270px;
    margin-top: 80px;
    margin-left: 45px;
}
.bottom{
    text-align: center;
    font-size: 12;
    background-color: rgb(64, 64, 64);
    display: inline-block;
    color: white;
    padding: 7px;
    margin-left: 38px;
}
.bottom-2{
    padding-right: 58px;
    margin-left: 20px;
}
.bottom-3{
    margin-top: 15px;
    padding-right: 19px;
}
.bottom-4{
    padding-right: 32px;
    margin-top: 15px;
    margin-left: 20px;
}
.title{
    background-color: #7AB6A7;
    color: white;
    max-width: 725px;
    position: relative;
    top: -27px;
}
.title p{
    position: relative;
    top: -15px;
    letter-spacing: 8px;
}
.title h1{
    padding-top: 20px;
}
.title p,h1{
    margin-left: 50px;
}
.table, .language{
    margin-left: 25px;
    padding-bottom: 20px;
    color: rgb(49, 49, 49);
}
table{
    width: 700px;
    border-collapse: collapse;
    text-align: left;
}
td,th{
    border: 2px solid #9d9d9d;
    padding: 8px;
}
.progress{
    background-color: #969696;
    border: 1px solid rgb(49, 49, 49);
    border-radius: 100px;
    width: 680px;
    height: 5px;
}
.bengali-bar, .english-bar, .hindi-bar, .urdu-bar{
    background-color: #270e42;
    border-radius: 100px;
    width: 680px;
    height: 5px;
}
.bengali-bar{
    width: 100%;
}
.english-bar{
    width: 80%;
}
.hindi-bar{
    width: 70%
}
.urdu-bar{
    width: 40%;
}
.language span{
    display: inline-flex;
    justify-content: center;
    font-size: 11px;
    letter-spacing: 5px;
    background-color: #232323;
    color: white;
    padding: 4px;
    border-radius: 5px;
}
.bengali span{
    margin-left: 600px;
}
.english span{
    margin-left: 460px;
}
.hindi span{
    margin-left: 370px;
}
.urdu span{
    margin-left: 170px;
}
.footer{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    padding: 10px;
    color: #ffffff;
    background-color: rgb(0, 5, 57);
    font-size: 15;
    text-transform: uppercase;
    word-spacing: 10px;
}
@media (max-width: 760px){
    .content{
        max-width: 360px;
    }
    .top{
        display: flex;

    }
    img{
        height: 220px;
        width: 178px;
        position: relative;
        top: -13px;
        margin-top: 40px;
        margin-left: 17px;
    }
    .data{
        display: flex;
        flex-wrap: wrap;
        max-width: 170px;
        position: relative;
        top: 22px;
        left: -25px;
    }
    .bio{
        line-height: 2px;
    }
    .underline{
        font-size: 15px;
        line-height: 4px;
    }
    .info li{
        line-height: 17px;
        position: relative;
        top: -6px;
    }
    .data, .bottom{
        font-size: 10px;
    }
    .bottom{
        padding: 8px;
        margin: 3;
        line-height: 0px;
        position: relative;
        left: 37px;
        top: -17px;
        font-size: 9px;
    }
    .bottom-2{
        padding-right: 0px;
        margin-left: 0px;
        position: relative;
        top: -21px;
        left: 40px;
        padding-right: 47px;
    }
    .bottom-3{
        margin-top: 0px;
        padding-right: 0px;
        position: relative;
        top: -22px;
        left: 37px;
        padding-right: 25px;
    }
    .bottom-4{
        padding-right: 0px;
        margin-top: 15px;
        margin-left: 0px;
        position: relative;
        top: -38px;
        left: 40px;
        padding-right: 30px;
    }
    .title{
        font-size: 10px;
    }
    .title p{
        position: relative;
        top: -15px;
        letter-spacing: 8px;
    }
    .title h1{
        padding-top: 10px;
    }
    .title p,h1{
        margin-left: 25px;
    }
    table{
        width: 310px;
        font-size: 10px;
    }
    .table h2, .language h2{
        font-size: 15px;
    }
    .progress{
        width: 310px;
    }
    .language h3{
        font-size: 10px;
    }
    .language span{
        font-size: 5px;
        letter-spacing: 2px;
        padding: 2px;
        border-radius: 3px;
    }
    .bengali span{
        margin-left: 275px;
    }
    .english span{
        margin-left: 210px;
    }
    .hindi span{
        margin-left: 170px;
    }
    .urdu span{
        margin-left: 75px;
    }
    .footer{
        font-size: 10px;
        padding: 0px;
        word-spacing: 5px;
    }
}